/* Yleinen tyylit */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Yläbanneri */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 30vh;
    padding: 2px;
    background-color: #000;
    overflow: hidden;
}

/* Videoelementti */
.video-container {
    max-width: 25%; /* Säädä videon kokoa */
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.video-background {
    width: 25%;
    height: 100%;
    object-fit: cover;
    animation: videoAnimation 30s infinite ease-in-out;
    clip-path: circle(50% at 50% 50%); /* Leikkaa ympyrä videon keskeltä */
}

/* Animaatio videolle (pyöriminen) */
@keyframes videoAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tekstikontaineri */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
    height: 100%;
}

h1 {
    font-size: 4rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 10px;
    font-style: italic;
}

